Test av GitHub colab:
dette er Stian sin Kode😉 
Dette er Anders sin kode, så ikke prøv dere!
Den er min bitches....
Er min for helvete, er jeg som starta den xP
Dette er endringen jeg gjør i min egen branch, jeg er chris
